<!--  наследуемся от шаблона default.html, который мы создавали ещё во времена flatpages -->
{% extends 'flatpages/default.html' %}

{% load custom_filters %}

<!-- Название у нас будет posts -->
{% block title %}
Posts
{% endblock title %}

{% block content %}
    <h1>Все новости</h1>
    <h2>Всего новостей: {{ posts|length }}</h2>
    {% if posts %} <!-- Выводим новости только, если они есть с помощью тега if -->
        <table>
            <tr>
                <td>
                    Заголовок
                </td>
                <td>
                    Дата публикации
                </td>
                <td>
                    Предварительный просмотр
                </td>
                            </tr>
        {% for post in posts %}
            <tr>
                <td>
                    {{ post.headline|censor }}
                </td>
                <td>
                    {{ post.date|date:'SHORT_DATE_FORMAT' }}
                </td>
                <td>
                    {{ post.text|truncatewords:20|censor }}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %} <!-- Если новостей нет, то говорим, что ковостей нет ;) -->
        <h2>Новости отсутствуют!</h2>
    {% endif %}
{% endblock content %}